.countries {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}

/* Style for Custom Tooltip */
div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: #B8E2F2; /*BlizzardBlue;*/
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}



/*bar chart: the color of bars*/
#bar_confirmed .bar { fill: steelblue; }
#bar_deaths .bar { fill:lightslategray; /*#E9967Adarksalmon*/; }
#bar_recovered .bar { fill: green; }


h1 {
  text-align:center;
  text-decoration-color: slategray;
  /* background-color: red; */
}

table { 
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
table th,table td{
  text-align:center;
}
#menu3 img{
  width:80%;
}