h1 {
  text-align:center;
  text-decoration-color: slategray;
  /* background-color: red; */
}

table { 
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
table th,table td{
  text-align:center;
}
#menu3 img{
  width:80%;
}


/*Loading data*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading_spin_label{
  position: absolute;
  top:123px;
  left:30px;
}
#loading{
  position: relative;
}
/*end loading*/



/*bar chart: the color of bars*/
#bar_confirmed .bar { fill: steelblue; }
#bar_deaths .bar { fill:lightslategray; /*#E9967Adarksalmon*/; }
#bar_recovered .bar { fill: green; }



.countries {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}

/* Tooltip */
div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: #B8E2F2;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}






